$fontsUrl:'../public/assets/fonts/Rubik/';
@font-face {
    font-family: 'Rubik';
    src: local('Rubik'),
      url($fontsUrl+'Rubik-Black.ttf') format('truetype');
    font-weight:900;
  }
  @font-face {
    font-family: 'Rubik';
    src: local('Rubik'),
      url($fontsUrl+'Rubik-Bold.ttf') format('truetype');
    font-weight:700;
  }
  @font-face {
    font-family: 'Rubik';
    src: local('Rubik'),
      url($fontsUrl+'Rubik-ExtraBold.ttf') format('truetype');
    font-weight:800;
  }
  @font-face {
    font-family: 'Rubik';
    src: local('Rubik'),
      url($fontsUrl+'Rubik-Light.ttf') format('truetype');
    font-weight:300;
  }
  @font-face {
    font-family: 'Rubik';
    src: local('Rubik'),
      url($fontsUrl+'Rubik-Medium.ttf') format('truetype');
    font-weight:500;
  }
  @font-face {
    font-family: 'Rubik';
    src: local('Rubik'),
      url($fontsUrl+'Rubik-Regular.ttf') format('truetype');
    font-weight:400;
  }
  @font-face {
    font-family: 'Rubik';
    src: local('Rubik'),
      url($fontsUrl+'Rubik-SemiBold.ttf') format('truetype');
    font-weight:600;
  }